


/*<!-- <<================== Login =================>> -->*/


#_login_id{
	background-color: #2b4266;
	._logo_site{
		img{
			margin-top: 110px;
			width: 150px;
			height: 50px;
		}
	}
	._login{
		background-color: white;
		width: 450px;
		margin: 10px 0px 114px 0px;
		border: 1px solid grey;
		padding: 40px;		
	}
	._register_tabs{
		margin-left: 80px!important;
	}
	._login_register_tabs{
		margin-bottom: 50px;
	}
	._registr_tabs{
		padding-left: 30px;
	}
}




